body {
    background-color: rgb(206, 231, 255);
}

#index-header,
.recipe-header,
h3 {
    color: rgb(25, 25, 65);
    font-family: Tahoma, Arial, sans-serif;
}

#index-header {
    font-size: 40px;
    text-align: center;
}

.recipe-header {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

.recipe-links {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#macaroni-img,
#enchilada-img,
#mochi-img {
    height: 300px;
    width: auto;
}

p,
ul,
ol {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    text-align: left;
}

.return-link {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#furikake-gohan {
    display: block;
    height: auto;
    width: 400px;
    margin: auto;
    margin-bottom: 100px;
}

.container {
    display: flex;
    justify-content: space-around;
}

.food {
    display: flex;
    flex-direction: column;
}